*{
  font-family: "montseratt", sans-serif;
}

.container-hand-tracker{
  text-align: center;
}

.container-data{
  margin-top: 33em;
}

.button-csv{
  border: 1px solid rgb(98, 0, 209);
  padding:1em;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(98, 0, 209);
  color: #fff;
  font-weight: 500;
  margin:2em;
}

.button-csv:hover{
  background-color: #fff;
  border-radius:1px solid rgb(98, 0, 209);
  color:rgb(98, 0, 209);
  cursor: pointer;
}

.output-canvas{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: "center";
  z-index: 9;
  width: 640;
  height: 480;
}